@charset "utf-8";

// https://github.com/metafizzy/flickity/issues/754
@import "~flickity/css/flickity.css";

// Import Lato Google Font
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

// Update Bulma's global variables
$family-sans-serif: "Lato", sans-serif;
$widescreen-enabled: false;
$fullhd-enabled: false;

// More theme colors could be added here...
$primary: #454545;

$spaces: ("0": 0, "1": 1.65rem, "2": 1.75rem);

$margin-default: map-get($spaces, "2") map-get($spaces, "0");

// Update some of Bulma's component & color variables
$footer-padding: 3rem 1.5rem;
$link: #00d1b2;

// Custom Styles
.card-gap {margin-top:1.75rem}
.modal-trigger { cursor: pointer; }
a.icon > strong {margin-left:.25rem}
.modal-card-body div.content {margin:$margin-default}

// import everything - alternatively import just what you need: https://bulma.io/documentation/overview/modular/
@import "~bulma/bulma"; 

// override specific bulma styles
.section {padding: 2.15rem 1.5rem}

@function theme-color($key: "primary") {
    @return map-get($theme-colors, $key);
}

// Flickity - begin
.carousel-cell {width:100%}
// Flickity - end

html {
    scroll-behavior: smooth;
  }

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 30%; /* Full width */
}
  
//   /* Links inside the navbar */
//   .navbar a {
//     float: left;
//     display: block;
//     color: #f2f2f2;
//     text-align: center;
//     padding: 14px 16px;
//     text-decoration: none;
//   }
  
//   /* Change background on mouse-over */
//   .navbar a:hover {
//     background: #ddd;
//     color: black;
//   }
  
  /* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}  