/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*===== VARIABLES CSS =====*/
:root{
  --header-height: 3rem;
  --font-semi: 600;
}

/*===== Colores =====*/
:root{
  --first-color: #454138;
  --second-color: #dcd8c0;
}

:root{
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}
@media screen and (min-width: 768px){
  :root{
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}

@media screen and (min-width: 375px){
  :root{
    --big-font-size: 1.5rem;
    --h2-font-size: 1rem;
    --normal-font-size: 0.5rem;
  }
}


/*===== Margenes =====*/
:root{
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/*===== z index =====*/
:root{
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
  background-color: #d1cdb7;
  -webkit-background-size: 0.3rem 0.3rem;
  -moz-background-size: 0.3rem 0.3rem;
  background-size: 0.3rem 0.3rem;
  background-image: -webkit-linear-gradient(left, #ccc8b1 1px, rgba(204,200,177,0) 1px), -webkit-linear-gradient(top, #ccc8b1 1px, rgba(204,200,177,0) 1px);
  background-image: -moz-linear-gradient(left, #ccc8b1 1px, rgba(204,200,177,0) 1px), -moz-linear-gradient(top, #ccc8b1 1px, rgba(204,200,177,0) 1px);
  background-image: -o-linear-gradient(left, #ccc8b1 1px, rgba(204,200,177,0) 1px), -o-linear-gradient(top, #ccc8b1 1px, rgba(204,200,177,0) 1px);
  background-image: -ms-linear-gradient(left, #ccc8b1 1px, rgba(204,200,177,0) 1px), -ms-linear-gradient(top, #ccc8b1 1px, rgba(204,200,177,0) 1px);
  background-image: linear-gradient(to right, #ccc8b1 1px, rgba(204,200,177,0) 1px), linear-gradient(to bottom, #ccc8b1 1px, rgba(204,200,177,0) 1px);
  font-family: helvetica, sans-serif;
  letter-spacing: 0.03rem;
  font-weight: lighter;
  color: #454138;
}
::selection {
  background-color: #bab5a1;
}

h1 {
  font-weight: normal;
  text-shadow: 0.3rem 0.3rem 0 #bab5a1;
  margin: 0;
}
h2 {
  font-weight: lighter;
  border: solid #454138;
  border-width: 0.1rem 0;
  padding: 0.1rem 1rem;
  margin: 0;
}
h3,h4,h5,h6 {
  font-weight: lighter;
  letter-spacing: 0.1rem;
}
p {
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
a.button, a.nav__link, a.nav__logo{
  text-decoration: none;
}
.mylink{
  color: inherit;
  font-weight: bold;
  font-style: italic;
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}
mark {
  background-color: #454138;
  color: #dcd8c0;
}
blockquote {
  position: relative;
  padding: 0.5rem;
}
blockquote:before {
  content: '';
  position: absolute;
  top: 0;
  left: -1.5rem;
  bottom: 0;
  height: 100%;
  width: 0.3rem;
  border: solid #bab5a1;
  border-width: 0 0.2rem 0 0.6rem;
}
cite {
  position: relative;
  padding-left: 2rem;
}
cite:before {
  content: '';
  position: absolute;
  width: 0.7rem;
  height: 0.7rem;
  background-color: #454138;
  margin-left: -1rem;
  top: 0.25em;
}
hr {
  margin: 1rem 0;
  border-top: solid #bab5a1;
  border-width: 0.1rem 0 0 0;
}
table {
  border-collapse: collapse;
  font-weight: inherit;
}
td,
th {
  padding: 0.5rem;
}
th {
  font-weight: normal;
  text-align: left;
  border-bottom: 0.1rem solid #454138;
}
pre {
  background-color: #dcd8c0;
  padding: 1rem;
}
fieldset {
  padding: 1rem;
  padding-top: 0.5rem;
  border: 0.1rem solid #bab5a1;
}
legend {
  padding: 0 0.5rem;
}
label {
  display: inline-block;
  margin: 0.5rem 0;
}

textarea,
input[type=text],
input[type=password],
input[type=url],
input[type=mail],
input[type=tel],
input[type=search],
input[type=number],
input[type=color],
input[type=date],
input[type=month],
input[type=week],
input[type=datetime],
input[type=datetime-local] {
  padding: 0.5rem;
  font-size: 1em;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  background-color: #dcd8c0;
  color: inherit;
  font-family: inherit;
  letter-spacing: inherit;
  font-weight: inherit;
}
select {
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIwLjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCA0LjkgMTAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQuOSAxMDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8c3R5bGUgdHlwZT0idGV4dC9jc3MiPgoJLnN0MHtmaWxsOiM0NDQ0NDQ7fQo8L3N0eWxlPgo8dGl0bGU+YXJyb3dzPC90aXRsZT4KPHBvbHlnb24gY2xhc3M9InN0MCIgcG9pbnRzPSIxLjQsNC43IDIuNSwzLjIgMy41LDQuNyAiLz4KPHBvbHlnb24gY2xhc3M9InN0MCIgcG9pbnRzPSIzLjUsNS4zIDIuNSw2LjggMS40LDUuMyAiLz4KPC9zdmc+Cg==") no-repeat right;
  padding: 0.5rem;
  font-size: 1em;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  background-color: #dcd8c0;
  color: inherit;
  font-family: inherit;
  letter-spacing: inherit;
  font-weight: inherit;
}
input[type=submit]:not(:disabled),
input[type=button]:not(:disabled),
input[type=reset]:not(:disabled) {
  padding: 0.5rem;
  font-size: 1em;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  background-color: #bab5a1;
  color: inherit;
  font-family: inherit;
  letter-spacing: inherit;
  font-weight: inherit;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: color, background-color, box-shadow;
  -moz-transition-property: color, background-color, box-shadow;
  -o-transition-property: color, background-color, box-shadow;
  -ms-transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow;
}
input[type=submit]:not(:disabled):hover,
input[type=button]:not(:disabled):hover,
input[type=reset]:not(:disabled):hover {
  -webkit-box-shadow: 0.2em 0.2em 0.1em 0 #bab5a1;
  box-shadow: 0.2em 0.2em 0.1em 0 #bab5a1;
}
input[type=submit]:not(:disabled):hover,
input[type=button]:not(:disabled):hover,
input[type=reset]:not(:disabled):hover {
  background-color: #454138;
  color: #dcd8c0;
}
input[type=submit]:not(:disabled):active,
input[type=button]:not(:disabled):active,
input[type=reset]:not(:disabled):active {
  background-color: #dcd8c0;
  color: #454138;
}
input:disabled,
button:disabled,
.button-disabled {
  padding: 0.5rem;
  font-size: 1em;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  background-color: #dcd8c0;
  color: inherit;
  font-family: inherit;
  letter-spacing: inherit;
  font-weight: inherit;
  color: #bab5a1;
  cursor: not-allowed;
}
button:not(:disabled),
.button {
  padding: 0.5rem;
  font-size: 1em;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  background-color: #989482;
  color: inherit;
  font-family: inherit;
  letter-spacing: inherit;
  font-weight: inherit;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: color, background-color, box-shadow;
  -moz-transition-property: color, background-color, box-shadow;
  -o-transition-property: color, background-color, box-shadow;
  -ms-transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow;
  position: relative;
  z-index: 1;
}
button:not(:disabled):hover,
.button:hover {
  -webkit-box-shadow: 0.2em 0.2em 0.1em 0 #bab5a1;
  box-shadow: 0.2em 0.2em 0.1em 0 #bab5a1;
}
button:not(:disabled):before,
.button:before {
  content: '';
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
button:not(:disabled):after,
.button:after {
  content: '';
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  background-color: #454138;
  z-index: -1;
}
button:not(:disabled):hover,
.button:hover {
  background-color: transparent;
  color: #dcd8c0;
}
button:not(:disabled):hover:before,
.button:hover:before {
  top: -0.2rem;
  bottom: -0.2rem;
  border: solid #454138;
  border-width: 0.1rem 0;
}
button:not(:disabled):hover:after,
.button:hover:after {
  width: 100%;
}
button:not(:disabled):active,
.button:active {
  color: #454138;
}
button:not(:disabled):active:after,
.button:active:after {
  background-color: #dcd8c0;
}
::-webkit-input-placeholder,
::-moz-placeholder,
::-ms-input-placeholder {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  color: #bab5a1;
  font-weight: lighter;
}
figure {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  margin-bottom: 1rem;
  background-color: #dcd8c0;
  padding: 0.5rem;
}
figure > :not(figcaption) {
  margin: 0.5rem;
}
figure > figcaption {
  -webkit-box-ordinal-group: -1;
  -moz-box-ordinal-group: -1;
  -o-box-ordinal-group: -1;
  -ms-flex-order: -1;
  -webkit-order: -1;
  order: -1;
  margin: -0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  background-color: #454138;
  color: #bab5a1;
}
iframe {
  border: 0.1rem solid #bab5a1;
}


/*===== CLASS CSS ===== */
.section-title{
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}
.section-title::after{
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}
.section{
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/*===== LAYOUT =====*/
.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--first-color);
  box-shadow: 0 1px 4px rgba(146,161,176,.15);
}

/*===== NAV =====*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}
@media screen and (max-width: 768px){
  .nav__menu{
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--first-color);
    transition: .5s;
  }
}
@media screen and (max-width: 375px){
  .nav__menu{
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--first-color);
    transition: .5s;
  }
}

.nav__item{
  margin-bottom: var(--mb-4);
}
.nav__link{
  position: relative;
  color: #fff;
}
.nav__link:hover{
  position: relative;
}
.nav__link:hover::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--second-color);
}
.nav__logo{
  color: var(--second-color);
}
.nav__toggle{
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/*Active menu*/
.active::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

/*=== Show menu ===*/
.show{
  right: 0;
}

/*===== HOME =====*/
.home{
  height: calc(100vh - 3rem);
  row-gap: 1rem;
}
.home__data{
  align-self: center;
}
.home__title{
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-5);
}
.home__title-color{
  color: var(--first-color);
}
.home__social{
  display: flex;
  flex-direction: column;
}
.home__social-icon{
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 5rem;
  color: var(--first-color);
}
.home__social-icon:hover{
  color: #989482;
}
.home__img{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 295px;
  border-radius: 50%;
}

/*BUTTONS*/
.button{
  display: inline-block;
  padding: .75rem 2.5rem;
  font-weight: var(--font-semi);
}

/*TAGS*/
.tags{
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: .5rem 1.5rem;
  margin: .2rem;
  /* font-weight: bold; */
  color: #989482;
  background-color: #dcd8c0;
  cursor: default;
}

/* ===== ABOUT =====*/
.about__container{
  row-gap: 2rem;
  text-align: center;
}
.about__subtitle{
  margin-bottom: var(--mb-2);
}
.about__img{
  justify-self: center;
}
.about__img img{
  width: 200px;
  border-radius: .5rem;
}

/* ===== SKILLS =====*/
.skills__container{
  row-gap: 2rem;
  text-align: center;
}
.skills__subtitle{
  margin-bottom: var(--mb-2);
}
.skills__text{
  margin-bottom: var(--mb-4);
}
.skills__data{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: .5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: .5rem;
  box-shadow: 0 4px 25px rgba(14,36,49,.15);
}
.skills__icon{
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: var(--first-color);
}
.skills__names{
  display: flex;
  align-items: center;
}
.skills__bar{
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--first-color);
  height: .25rem;
  border-radius: .5rem;
  z-index: var(--z-back);
}
.skills__docker{
  width: 70%;
}
.skills__linux{
  width: 85%;
}
.skills__py{
  width: 65%;
}
.skills__harden{
  width: 85%;
}
.skills__img{
  border-radius: .5rem;
}


/* ===== CONTACT =====*/
.contact__input{
  width: 100%;
  outline: none;
  margin-bottom: var(--mb-4);
}
.contact__button{
  display: block;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
  margin-left: auto;
}

/* ===== FOOTER =====*/
.footer{
  background-color: var(--first-color);
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}
.footer__title{
  font-size: 2rem;
  margin-bottom: var(--mb-4);
}
.footer__social{
  margin-bottom: var(--mb-4);
}
.footer__icon{
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2)
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px){
  body{
    margin: 0;
  }
  .section{
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title{
    margin-bottom: var(--mb-6);
  }
  .section-title::after{
    width: 80px;
    top: 3rem;
  }

  .nav{
    height: calc(var(--header-height) + 1rem);
  }
  .nav__list{
    display: flex;
    padding-top: 0;
  }
  .nav__item{
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav__toggle{
    display: none;
  }
  .nav__link{
    color: var(--second-color);
  }

  .home{
    height: 100vh;
  }
  .home__data{
    align-self: flex-end;
  }
  .home__social{
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }
  .home__social-icon{
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }
  .home__img{
    width: 50%;
    bottom: 15%;
  }

  .about__container, .skills__container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    text-align: initial;
  }
  .about__img img{
    width: 300px;
  }
  .work__container{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 2rem;
  }
  .contact__form{
    width: 360px;
  }
  .contact__container{
    justify-items: center;
  }
}

@media screen and (min-width: 1024px){
  .bd-grid{
    margin-left: auto;
    margin-right: auto;
  }
  .home__img{
    right: 10%;
    width: 50%;
  }
}


@media screen and (min-width: 375px){
  body{
    margin: 0.1rem;
  }
  .section{
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title{
    margin-bottom: var(--mb-6);
    font-size: 1.5rem;
  }
  .section-title::after{
    width: 0%;
    top: 3rem;
  }

  .nav{
    height: calc(var(--header-height) + 1rem);
  }

  .tags{
    display: inline-block;
    align-items: center;
    padding: .5rem 1.5rem;
    margin: .2rem;
    font-size: 0.8rem;
  }
  
  .home{
    height: 100vh;
  }
  .home__data{
    align-self: flex-end;
  }
  .home__social{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    flex-direction: row;
    align-self: flex-end;
    align-items: center;    
  }
  .home__social-icon{
    margin-bottom: var(--mb-4);
    /* margin-right: var(--mb-4); */
    width: 200%;
    font-size: 2.9rem;    
  }
  .home__img{
    width: 50%;
    bottom: 60%;
    padding: 0.5rem 0.5rem;
  }

  .about__container, .skills__container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    text-align: initial;
  }
  .about__img img{
    width: 300px;
  }
  .work__container{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 2rem;
  }
  .contact__form{
    width: 360px;
  }
  .contact__container{
    justify-items: center;
  }
}
